/* Frame 234 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 48px;
gap: 10px;

position: relative;
width: 871px;
height: 752px;

background: #2F2F2F;
border-radius: 30px;


/* Frame 204 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 775px;
height: 656px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 205 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 775px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 새 개인 노트 */

width: 732px;
height: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* iconstack.io - (Close Fill) */

width: 33px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 17.16%;
right: 17.23%;
top: 17.16%;
bottom: 17.16%;

background: #FFFFFF;


/* 노트 이름을 입력하고 파일을 업로드 하세요 */

width: 775px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 201 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 775px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 199 */

width: 601px;
height: 44px;

background: #5E5E67;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 200 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

width: 150px;
min-width: 150px;
height: 44px;

background: #5E5E67;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 237 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 76px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 209 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 20px;
height: 16px;
left: 2px;
top: 4px;



/* Rectangle 53 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 16.67%;

background: #FFFFFF;
border-radius: 2px;


/* Rectangle 54 */

position: absolute;
left: 8.33%;
right: 50%;
top: 16.67%;
bottom: 33.33%;

background: #FFFFFF;
border-radius: 2px 2px 0px 0px;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 44px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* (Root) */

width: 44px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 196 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 25px;
gap: 10px;

width: 775px;
height: 455px;

background: #5E5E67;
border-radius: 25px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 198 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 725px;
height: 405px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 246 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 725px;
height: 228px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 245 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 147px;
height: 164px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 244 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 95px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 209 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 20px;
height: 16px;
left: 2px;
top: 4px;



/* Rectangle 53 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 16.67%;

background: #FFFFFF;
border-radius: 2px;


/* Rectangle 54 */

position: absolute;
left: 8.33%;
right: 50%;
top: 16.67%;
bottom: 33.33%;

background: #FFFFFF;
border-radius: 2px 2px 0px 0px;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 63px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-01 */

width: 63px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 241 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 95px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 209 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 20px;
height: 16px;
left: 2px;
top: 4px;



/* Rectangle 53 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 16.67%;

background: #FFFFFF;
border-radius: 2px;


/* Rectangle 54 */

position: absolute;
left: 8.33%;
right: 50%;
top: 16.67%;
bottom: 33.33%;

background: #FFFFFF;
border-radius: 2px 2px 0px 0px;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 63px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2024-02 */

width: 63px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 242 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 95px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 209 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 20px;
height: 16px;
left: 2px;
top: 4px;



/* Rectangle 53 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 16.67%;

background: #FFFFFF;
border-radius: 2px;


/* Rectangle 54 */

position: absolute;
left: 8.33%;
right: 50%;
top: 16.67%;
bottom: 33.33%;

background: #FFFFFF;
border-radius: 2px 2px 0px 0px;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 63px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2025-01 */

width: 63px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 243 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 95px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 209 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 20px;
height: 16px;
left: 2px;
top: 4px;



/* Rectangle 53 */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 25%;
bottom: 16.67%;

background: #FFFFFF;
border-radius: 2px;


/* Rectangle 54 */

position: absolute;
left: 8.33%;
right: 50%;
top: 16.67%;
bottom: 33.33%;

background: #FFFFFF;
border-radius: 2px 2px 0px 0px;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 63px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 2025-02 */

width: 63px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 240 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 136px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 239 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

position: absolute;
width: 17px;
height: 20px;
left: calc(50% - 17px/2 + 0.5px);
top: calc(50% - 20px/2);



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 104px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 0. Orientation */

width: 104px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 245 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 147px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Frame 239 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame */

position: absolute;
width: 17px;
height: 20px;
left: calc(50% - 17px/2 + 0.5px);
top: calc(50% - 20px/2);



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 115px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1. Introduction */

width: 115px;
height: 19px;

font-family: 'Pretendard GOV Variable';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
text-decoration-line: underline;

color: #D9D9D9;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 237 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
gap: 8px;

width: 725px;
height: 48px;

background: #FFFFFF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 210 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 103px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 236 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 14 */

position: absolute;
width: 16px;
height: 16px;
left: calc(50% - 16px/2);
top: calc(50% - 16px/2);



/* Rectangle 55 */

position: absolute;
width: 4px;
height: 16px;
left: calc(50% - 4px/2);
top: calc(50% - 16px/2);

background: #899649;
border-radius: 4px;


/* Rectangle 56 */

position: absolute;
width: 4px;
height: 16px;
left: calc(50% - 4px/2 - 6px);
top: calc(50% - 16px/2 + 6px);

background: #899649;
border-radius: 4px;
transform: rotate(-90deg);


/* 새 파일 추가 */

width: 71px;
height: 17px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
display: flex;
align-items: center;

color: #899649;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 203 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 24px;

width: 775px;
height: 41px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 35 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 134px;
height: 41px;

background: #899649;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 노트 생성 */

width: 63px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 202 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 134px;
height: 41px;

background: #5E5E67;
border-radius: 15px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 취소 */

width: 30px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
