services:
  nginx:
    image: nginx:alpine
    container_name: syncnapse-nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

  frontend:
    build:
      context: ./frontend
    env_file:
      - .env
    container_name: syncnapse-frontend
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -lc "bun install && bun run dev"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    env_file:
      - .env
    container_name: syncnapse-backend
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: sh -lc "bun install && bun run prisma:generate && bunx prisma db push --accept-data-loss && bun run start:dev"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    extends:
      file: db/docker-compose.yml
      service: postgres
    container_name: syncnapse-postgres-dev
    env_file:
      - .env

networks:
  default:
    name: syncnapse_net

volumes:
  postgres-data:
