services:
  frontend:
    build:
      context: ./frontend
    image: syncnapse/frontend:local
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    image: syncnapse/backend:local
    env_file:
      - .env
    ports:
      - "4000:4000"

networks:
  default:
    name: syncnapse_net
